/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
    scroll-behavior: smooth; /* Transition dans la navigation au click sur les liens */
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    margin: 0;
}

img {
    width: 100%;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutralStar {
    color: var(--main-bg-color)
}

/***** HEADER ******/
header {
    display: flex;
    justify-content: space-between;
    height: 80px;
}

header img {
    width: 61px;
    align-self: center;
}

.menus ul {
    display: flex;
    list-style: none;
    height: 100%;
    padding: 0;
    margin: 0;
}

.menus ul li {
    display: flex;
}

.menus li:first-child {
    margin-right: 69px;
}

.menus a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #000000;
}

.menus a:hover {
    color: #0065FC;
    box-shadow: inset 0 2px #0065FC; /* Evite le saut de texte au hover */
}

/****** Titre And Sous-titre ***********/
.titre-and-sous-titre {
    display: flex;
    flex-direction: column;
}

.titre-and-sous-titre h1 {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 0;
    margin-top: 30px;
    line-height: 26px;
}

.titre-and-sous-titre p {
    margin-top: 8px;
}

/****** Formulaire ***********/
form {
    display: flex;
    justify-content: flex-start;
    margin-top: 35px;
}

.fa-location-dot::before {
    display: flex;
    justify-content: center;
    margin: 18px;
    left: 18px;
    top: 15px;
    color: #000000;
    padding: 0;
}

form [id="icon"] {
    width: 50px;
    height: 48px;
    background: #F2F2F2;
    border: 1px solid #F2F2F2;
    border-radius: 15px 0 0 15px;
}

input {
    font-weight: 700;
    font-size: 18px;
}

input[type="text"] {
    width: 147px;
    height: 20px;
    padding: 14px 24px;
    line-height: 21px;
    text-align: center;
    color: #000000;
    border: 1px solid #F2F2F2;
}

button[type="submit"] {
    align-items: center;
    font-weight: 700;
    font-size: 18px;
    padding: 14px 16px;
    gap: 10px;
    height: 50px;
    background: #0065FC;
    border: 1px solid #0065FC;
    border-radius: 0px 15px 15px 0px;
    flex-grow: 0;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
    flex: none;
    order: 1;
}


button[type="submit"] i {
    color: white;
    display: none;
}

/****** Filtres And boutons ***********/

.filtres {
    display: flex;
    margin-top: 38px;
}

.filtres p {
    display: flex;
    justify-content: center;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #000000;
    margin-right: 15px;
}

.filtres ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.filtres li {
    margin-bottom: 15px;
    margin-right: 15px
}

.filtres button {
    width: 100%;
    border-radius: 25px;
    padding: 14px 19px;
    border: 1px solid #D9D9D9;
    font-weight: 700;
    font-size: 17px;
    font-weight: 700;
    font-size: 17px;
    background: white;
}

.filtres button:hover{
    background: #DEEBFF;
}

/****** Informations ***********/
.information {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 35px;
    margin-bottom: 35px;
}

.fa-info {
    margin-right: 10px;
    font-size: 10px;
}

.fa-info::before {
    display: flex;
    justify-content: center;
    border: 1px solid #D9D9D9;
    border-radius: 15px;
    box-sizing: border-box;
    width: 24px;
    height: 24px;
    left: 0;
    top: 0;
    align-items: center;
}

.information p {
    font-weight: 400;
    font-size: 16px;
    width: 1306px;
    height: 19px;
    line-height: 19px;
    color: #000000; 
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 871px;
    height: 614px;
}

.hebergements-title {
    display: flex;
    justify-content: flex-start;
}

.hebergements-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.hebergements-cards .card {
  width: 250.33px;
  height: 207.25px;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
justify-content: space-between;
}

.hebergements-cards img {
    width: 250.33px;
    height: 124px;;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.hebergements-cards .card-content {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 0 15px 0 15px;
}

.hebergements-cards .card-title {
    margin-top: 4px;
    margin-bottom: 8px;
}

.hebergements-cards .card-subtitle {
    margin-top: 8px;
    margin-bottom: 8px;
}

.hebergements-cards .card-rating {
   margin-bottom: 15px;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/****** Activités ***********/
.activites-container {
    display: flex;
    flex-wrap: wrap;
}

.activites-container article {
    width: calc(25% - 30px);
    margin-right: 30px;
}

.activites-container article:last-child {
    width: 25%;
    margin-right: 0;
}

.activites-container article img {
    width: 100%;

}

/****** FOOTER ***********/
footer {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 1340px;
    height: 163px;
    background: #F2F2F2;
    margin-top: 65px;
}


.renseignements {
    display: flex;

}

.renseignements h5 {
    display: flex;
    justify-content: flex-start;
    margin-top: 20px;
    margin-left: 20px;
}

.renseignements ul li {
    display: flex;
}

.renseignements a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #000000;
}

.a-propos {
    display: flex;
    flex-direction: column;

}

.renseignements section {
    display: flex;
}

.renseignements {

}


/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards .card {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .activites-container article {
        width: calc(50% - 30px);
    }

    .activites-container article:nth-child(even) {
        width: 50%;
        margin-right: 0;
    }

    .filtres li{
        width: calc(50% - 15px);
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
    .activites-container article {
        width: 100% !important;
        margin: 0;
    }

    button[type="submit"] i {
        display: block;
    }

    button[type="submit"] span {
        display: none;
    }

    .filtres li{
        width: 100%;
        margin-right: 0;
    }
}